<div class="page-width center instagram-header">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.subtitle }}</p>
</div>

<div id="insta-feed"></div>

{%schema%}
  {
    "name":"Instafeed App",
    "class": "index-section instagram-section",
    "settings":[
      {
        "type": "paragraph",
        "content": "This section is configured in [the apps section](/admin/apps/instafeed) of your admin."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Instagram"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "SubTitle"
      }
    ],
    "presets":[
      {"name":"Instafeed App","category":"Instagram"}
    ]
  }
{%endschema%}
